.f-uploader-hover-area {
  border-left: 6px solid #00a2ff;
  background-color: #d7f1ff;
  padding: 12px;
  width: 100%;
  width: -webkit-fill-available;
  display: inline-block;
}
.f-uploader-hover-area:hover {
  background-color: gainsboro;
}
input:focus {
  outline: none;
}